* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Rimma";
    src: url("../../public/rimma-sans-bold.ttf");
}

.smartslider {
    max-width: 480px;
    overflow: hidden !important;
    height: 100dvh;
    position: relative;
    margin: 0 auto;


}

.bg_1 {
    background: url("/images/доп\ свет.png"), url("/images/линии.png"), url("/images/график.png"),
        url("/images/верх\ свет.png"), url("/images/середина\ свет.png"), url("/images/ниж\ свет.png");
    background-color: #000000;
    background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, no-repeat;
    background-size: cover, cover, 840px, contain, 100%, contain;
    background-position: top, top, -100px, -100px -50px, center right, 80px 500px;
}

.bg_2 {
    background: url("/images/2_red.png"), url("/images/линии.png"), url("/images/график.png"),
        url("/images/2_1.png"), url("/images/2_3.png"), url("/images/2_2.png");
    background-color: #000000;
    background-color: #000000;
    background-repeat: no-repeat, no-repeat, repeat-x, no-repeat, no-repeat;
    background-size: cover, cover, 840px, contain, 100%, contain;
    background-position: top, top, -100px, -100px -50px, center right, 80px 500px;
}



.smartslider .euro {
    position: absolute;
    width: 250px;
    top: -60px;
    left: -100px;
    z-index: 2;
}

.smartslider .dollar {
    position: absolute;
    width: 160px;
    right: -50px;
    z-index: 2;
    top: -30px;
    transform: rotate(-45deg);
}

.smartslider .dollar_1 {
    position: absolute;
    width: 100px;
    left: 10px;
    top: 35%;
    transform: translateY(-50%);
    z-index: 2;
}

.smartslider .dol_1 {
    position: absolute;
    width: 200px;
    right: -50px;
    top: -30px;
    z-index: 2;
}

.smartslider .dol {
    position: absolute;
    width: 200px;
    left: 0px;
    top: 30%;
    z-index: 2;
}

.smartslider .funt {
    position: absolute;
    top: 20%;
    right: -30px;
    width: 170px;
    z-index: 2;

}

.smartslider .shv {
    width: 80px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(40%);
    z-index: 2;
}

.hero {
    z-index: 1;
}

.s {
    color: #D2C205 !important;
}

.hero {
    width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.smartslider .smart {
    position: absolute;
    bottom: 40px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.smart .dots {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 15px;
}

.smart .dots .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #D9D9D9;
}

.dots .active {
    width: 32px !important;
    border-radius: 20px !important;
    /* background: #21CD5A !important; */
}

.smart h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 83%;
    margin-bottom: 10px;
    font-family: "Rimma" !important;
}

.smart h2 span {
    color: #21CD5A;
}

.smart p {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.1;
    font-style: normal;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 20px;
}

.item {
    display: flex;
    gap: 0px;
    align-items: end;

}

.item .box{
    position: relative;
    display: flex;
    align-items: end;
}
.blik{
    width: 100px;
    height: 100px;
    animation:  spin 3s linear infinite;
    transform-origin: center center;
    position: absolute;
    bottom: -20px;
    left: -10px;
}

@keyframes  spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
         transform: rotate(360deg);
    }
}
.item .box .plus {
    width: 40px;
    height: 35px;
   z-index: 2;
    position: absolute;
  bottom: 10px;
  left:   20px;

}

.smart p span {
    color: #21CD5A;
}

.smart .link {
    width: 100%;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 17px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 6px;
    font-style: italic;
    height: 60px;
    background: #21CD5A;
    border-radius: 30px;
    background: rgba(33, 205, 90, 1);
    box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.46);
    position: relative;
}
/* .bil{
    position: absolute;
    z-index: 5 !important;
    width: 30px;
    height: 30px;
    display: none;
} */